@page
@model GithubModel
@{
    ViewData["Title"] = "Github page";
}
@inject IHttpContextAccessor context;
@using Microsoft.AspNetCore.Authentication

<p>accessToken: @ViewData["accessToken"] </p>
<p>idToken: @ViewData["idToken"] </p>
<h2>Claims</h2>
<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>